<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS ve Style Binding</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="container text-center">
        <h3 v-if="showState == true" class="text-green">Gösterilecek Başlık...</h3>
        <h3 v-else class="text-red">Gizlenen Başlık...</h3>
        <button @click="showState = !showState" >Göster / Gizle</button>
      </div>

      <div class="container text-center">
        {{ counter }}

        <h3 v-if="counter < 0" class="text-red">Negatif</h3>
        <h3 v-else-if="counter > 0" class="text-green">Pozitif</h3>
        <h3 v-else class="text-default">Sıfır</h3>

        <button @click="counter++">Arttır</button>
        <button @click="counter--">Azalt</button>

      </div>
      
    </div>
    <script src="app.js"></script>
  </body>
</html>